<a href="https://colab.research.google.com/github/ParthPujare/java-learning-projects/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')

Hello World

In [ ]:
#ASCII value
ord(a)

NameError: name 'a' is not defined

In [ ]:
#ASCII value
ord('a')

97

In [ ]:
chr(97)

'a'

In [ ]:
str1 = 'HEllo World'
str1.upper()

'HELLO WORLD'

In [ ]:
n = int(input('enter a number'))
if n%3 == 0:
  if n%5 == 0:
    print('fizzbuzz')
  else:
    print('fizz')
elif n%5 == 0:
  print('buzz')
else:
  print(n)

enter a number15
fizzbuzz

In [ ]:
n = int(input('Enter the number of lines'))
for i in range(n):
  for j in range(n-i):
    print('*',end = "")
  print()

Enter the number of lines5
*****
****
***
**
*

In [ ]:
#n = int(inut('Enter the number of lines'))
for i in range(6):
  for j in range(5-i):
    print(" ",end = '')
  for j in range(i):
    print(str(i)+" ",end = '')
  print()
for i in range(5):
  if i!=0:
    for j in range(i):
      print(" ",end = '')
    for j in range(5-i):
      print(str(5-i)+' ',end='')
    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

In [ ]:
n = int(input('Number half the number of lines '))
for i in range(1,(n+1)):
  print(' '*(n-i) + f"{i} "*i)
for i in range(5,0,-1):
  print(' '*(n-i) + f"{i} "*i)

Number of lines6
     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5
6 6 6 6 6 6
 5 5 5 5 5
  4 4 4 4
   3 3 3
    2 2
     1

In [ ]:
lst = [1,2,3,4,5]
lst.reverse()
print(lst)

##

#lst2 = [1,2,3,4,5]
lst = lst[::-1]
print(lst)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [ ]:
lst = [1,2,3,4,5]
lst.append([6,7])
print(lst)
lst.extend([6,7])
print(lst)

[1, 2, 3, 4, 5, [6, 7]]
[1, 2, 3, 4, 5, [6, 7], 6, 7]

In [ ]:
lstMax = [[1,'b','c'],[1,2,3],'a']
print(lstMax[0][1])
for index, value in enumerate(lst):
  print(f"index is {index} value is {value} ")

b
index is 0 value is 1
index is 1 value is 2
index is 2 value is 3
index is 3 value is 4
index is 4 value is 5
index is 5 value is [6, 7]
index is 6 value is 6
index is 7 value is 7

In [ ]:
#List Comprehension

In [ ]:
lst = [x for x in range(1,10,2)]
lst

[1, 3, 5, 7, 9]

In [ ]:
tup = (0,2,4)
tup

(0, 2, 4)

In [ ]:
lst = lst + list(tup)

In [ ]:
lst

[1, 3, 5, 7, 9, 0, 2, 4]

In [ ]:
s = {1,2,2,2,3,4}
s

{1, 2, 3, 4}

In [ ]:
s.add(5)

In [ ]:
s

{1, 2, 3, 4, 5}

In [ ]:
s1 = {1,3,5,7}
s2 = {0,2,4,6,11,3,,3}
s1.union(s2)

{0, 1, 2, 3, 4, 5, 6, 7}

In [ ]:
s1.intersection(s2)

set()

In [ ]:
s2.difference(s1)

{0, 2, 4, 6}

In [ ]:
d = {'a':[1,2],'b':[2,3]}
d

{'a': [1, 2], 'b': [2, 3]}

In [ ]:
for key , value in d.items():
  print(f"key = {key} value = {value}")

key = a value = [1, 2]
key = b value = [2, 3]

In [ ]:
d['a'][1]

2

In [ ]:
d.get('a') # value for a particular key

[1, 2]

In [ ]:
lst1 = [1,2,3]
lst2 = ['a','b','c']
d1 = dict(zip(lst1,lst2))
d1

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# functions
def add (a,b):
  return(a+b)
sum = add(2,4)
sum

6

In [ ]:
#giving default values to the parameters
def add (a,b,c=0):
  return(a+b+c)
sum = add(2,3)
print(sum)
sum = add(2,4,3)
sum

6

9

In [ ]:
#Lambda
mul = lambda x,y,z : x*y*z
mul(2,3,4)

24

In [ ]:
# Using Map function to apply a function to all elemnts of the list....
def sq (data):
  return(data**2)
list(map(sq,[1,2,3,4]))

[1, 4, 9, 16]

In [ ]:
# Filter
lst = [1,2,3,4,5,6,7]
def is_even(lst):
  return lst%2==0
elst = list(filter(is_even, lst))
print(elst)

[2, 4, 6]

In [ ]:
# Reduce
from functools import reduce
lst = [1,2,3,4,5]
def add (first,second):
  return first+second
result = reduce(add, lst,10)# starts with 10 as the initial value
result

25